<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<groups>
		<run>

			<include name="sanity"></include>
			<include name="regression"></include>

			<!--<include name="master"></include>-->
		</run>
	</groups>
	<listeners>
		<listener class-name="utilities.ExtentReportManager"></listener>
	</listeners>

	<test name="Test">
		<parameter name="os" value="Windows"></parameter>
		<parameter name="browser" value="Chrome"></parameter>

		<classes>
			<class name="testcases.TS001_CareerLattice" />
			<class name="testcases.TS002_Uploadresume"  />
			<class name="testcases.TS003_Skillprofile"  />
			<class name="testcases.TS004_SkillUp"  />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
